.grad{
    background-image: linear-gradient(#fae9ac, #d8b529);
    border: solid 1px #585239;
}

.grad_2{
    background-image: linear-gradient(#fdfdfd, #e9eaee);
    border: solid 1px #b0b0b0;
}

.text-reset{
    --bs-text-opacity: 0 !important;
    color: #3737fc !important;
    text-decoration: none;
}

.gray{
    color: #b4b4b4c7;
}

.gray_2{
    color: #575757;
}

#line_division{
    min-height: 60px;
    border-top: solid 1px #a0a0a0;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: 0;
    padding:0px 20px ;
}

.inline_text{
    display: inline-block;
}
